@import '../../node_modules/bootstrap/scss/bootstrap';

@font-face {  
  font-family: 'Gilroy'; 
  src: url('/src/assets/fonts/Gilroy-Regular.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal;
  font-display: swap;
  letter-spacing: 0.1875em;
}

/* -------------------------------------------------------------------------- */
/*                                  variables                                 */
/* -------------------------------------------------------------------------- */

$lightblue-primary: #0A85BF;
$darkblue-primary: #2A2E92;
$yellow-primary: #FFF100;
$primary-light: #F6F7FB;
$white: #FFFFFF;
$black: #000000;
$whiteui: #f1f1f1;
$blackui: #010101;
$gray: #808080;
$dark-hover: rgba(0, 0, 0, 0.4);
$light-hover: rgba(255, 255, 255, 0.1);

/* -------------------------------------------------------------------------- */
/*                              General settings                              */
/* -------------------------------------------------------------------------- */

*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  font: 22px 'Gilroy', sans-serif;
  font-display: swap;
  background-color: $primary-light;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

a:hover{
  
}

/* -------------------------------------------------------------------------- */
/*                                   Buttons                                  */
/* -------------------------------------------------------------------------- */

.outline-button{
  padding:0.625em 1.25em;
  border: solid 0.125em $white;
  border-radius: 0.5em;
  color: $white;
  transition: 300ms;
}

.outline-button:hover{
  background-color: $light-hover;
}

.main-button{
  padding:0.625em 1.25em;
  border-radius: 0.5em;
  color: $white;
  transition: 300ms;
  background-color: $darkblue-primary;
  border: none;
  font-size: 1em;
  font: 1em 'Gilroy', sans-serif;
  font-display: swap;
}

.main-button__link{
  color: $white;
  font: 1em 'Gilroy', sans-serif;
  font-display: swap;
  margin-right: 0.625em;
}

.white-button{
  height: 3.125em;
  display: flex;
  padding: 0em 1.875em;
  justify-content: center;
  align-items: center;
  background-color: $whiteui;
  border-radius: 0.5em;
  border: none;
  font: 1em 'Gilroy', sans-serif;
  font-display: swap;
  color: $darkblue-primary;
  font-weight: bold;
}

.white-button__link{
  display: inline;;
  color: $darkblue-primary;
  margin-right: 0.625em;
  margin-bottom: 0;
}

/* -------------------------------------------------------------------------- */
/*                          Social media floating bar                         */
/* -------------------------------------------------------------------------- */

.social-media{
  width: 2.5em;
  padding: 0.125em 0em;
  position: fixed;
  transform: translateY(50vh);
  left: 0;
  background: #fff;
  z-index: 9999;
  border-radius: 0.5em;
  box-shadow: 0 0 0.9375em $gray;
}

.social-media__container{
  width: 100%;
  color: $darkblue-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-media__icon{
  transition: all 100ms ease-in-out;
  margin: 0.125em;
}

.social-media__icon:hover{
  transform: scale(140%, 140%);
  cursor: pointer;
}

.social-media__link{
  text-decoration: none;
  color: $darkblue-primary;
  border: none;
}

/* -------------------------------------------------------------------------- */
/*                                   Nav Bar                                  */
/* -------------------------------------------------------------------------- */

.nav{
  width: 100% !important;
  height: 5.1688em;
  position: fixed;
  box-shadow: 0 0 0.0625em $gray;
  z-index: 9999;
  background-color: $primary-light;
}

.nav__container{
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  padding: 0.625em 6.25em;
  position: relative;
}

.logo{
  width: 18.75em;
  padding: 0 !important;
  border-radius: 0.5em;
  padding: 0.3125em 0.625em;
  aspect-ratio: 64/11;
}

#menu{
  transition: all 300ms ease-in-out;
  padding-left: 0;
  margin-bottom: 0;
  visibility: hidden;
}

.menu-horizontal{
  display: flex;
  align-items: center;
  margin: 0;
}

.menu-vertical{
  margin-bottom: 0.625em;
}

.menu__item{
  list-style-type: none;
  margin-left: 1.875em;
  border-radius: 0.5em;
  transition: 300ms;  
}

.menu__link{
  color: $darkblue-primary;
  font-weight: bold;
}

.menu-icon{
  visibility: hidden;
  position: absolute;
  width: 2em;
  height: 2em;
  right: 6.25em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.menu-icon:hover{
  cursor: pointer;
}

.menu-icon__bar{
  width: 100%;
  border: solid 0.1875em $darkblue-primary;
  border-radius: 0.5em;
  background: $darkblue-primary;
}

.top,
.middle,
.bottom{  
  transition: all 300ms ease-in-out;
}

.top{
  margin-bottom: 0.3125em;
}

.bottom{
  margin-top: 0.3125em;
}


.disappear{
  transform: translateX(-3.125em);
  border: solid 0.1875em transparent;
  background: transparent;
}

.rotate-right{
  transform: rotate(45deg) translate(0.375em, 0.625em);
}

.rotate-left{
  transform: rotate(-45deg) translate(0.375em, -0.625em);
}

/* -------------------------------------------------------------------------- */
/*                                   Divider                                  */
/* -------------------------------------------------------------------------- */

.divider{
  height: 3.125em;
  bottom: 2.5em;
  right: 6.25em;
}

.divider:hover{
  cursor: pointer;
}

.divider__container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider__title{
  margin-top: 0.3125em;
  margin-right: 0.625em;
  font-weight: bold;
  font-size: 1.5em;
}

.divider__icon{
  margin-bottom: 10px;
  transition: 300ms;
}

.divider:hover .divider__icon{
  transform: rotate(360deg);
}

/* -------------------------------------------------------------------------- */
/*                                  Homepage                                  */
/* -------------------------------------------------------------------------- */


/* ------------------------------ Main section ------------------------------ */


.featured-product{
  width: 100%;
}

.featured-product__container{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.carousel{
  width: 100%;
  margin-top: 5.1688em;
  height: calc(70vh - 5.1688em);
  min-height: 19.875em;
}

.carousel-item{
  height: calc(70vh - 5.1688em);
  transition: all 600ms ease-in-out;
  background-color: #000000;
}

.carousel .carousel-indicators li {
  width: 3%;
  height: 3px;
  border-radius: 8px;
  margin: 0px 2px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.25);
}

.carousel .carousel-indicators li:hover{
  cursor: pointer;
}

.carousel .carousel-indicators .active {
  background-color: #fff;
}

.carousel-control-prev,
.carousel-control-next{
  width: 8%;
} 

.featured-product__image{
  width: 100%;
  height: calc(70vh - 5.1688em);
  min-height: 19.875em;
  object-fit: cover;
}

.featured-product__info{
  height: calc(70vh - 5.1688em);
  width: 100%;
  min-height: 19.875em;
  position: absolute;
  top: 0;
  left: 0;
  color: $white;
  background-color: $dark-hover;
}

.info{
  
  margin-left: 6.25em;
  display: inline-flex;
  flex-direction: column;
  border: solid 0.0625em $white;
  padding: 1.25em;
  border-radius: 0.5em;
  background-color: $light-hover;
  position: relative;
  top: 40%;
}

.info-category{
  width: auto;
  color: $darkblue-primary;
  background-color: $white;
  padding: 0.3125em 1.25em;
  margin-bottom: 0.625em;
  border-radius: 0.5em;
  font-size: 1.375em !important;
  font-weight: bold;
}

.info-description{
  margin-bottom: 0.625em;
} 

.featured-product__controls{
  padding: 0em 0.625em;
}

.featured-product__next,
.featured-product__prev{
  position: absolute;
  color: $light-hover;
  bottom: 3.5em;
  padding: 0em 0.625em;
  transition: 300ms;
}

.featured-product__next{
  right: 0;
}

.featured-product__prev{
  left: 0;
}

.featured-product__next:hover,
.featured-product__prev:hover{
  cursor: pointer;
  color: white;
} 

/* -------------------------- Our products section -------------------------- */

.our-products{
  padding: 0em 6.25em;
  background-color: $primary-light;
  height: calc(100vh - 5.1688em);
  min-height: 30.625em;
  display: flex;
  flex-direction: column;
  position: relative;
}

.title-gradient-background{
  display: flex;
  height: 5em;
  background: linear-gradient(to right, $lightblue-primary, $darkblue-primary);
  border-radius: 0.5em;
  justify-content: center;
  align-items: center;
  padding: 0em 1.875em;
}

.our-products__info{
  height: 30vh;
  min-height: 8.75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-gradient__title{
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: $white;
  border-radius: 0.5em;
  margin: 0;
}

.our-products__description{
  text-align: center;
  padding-top: 0.625em;
  color: $darkblue-primary;
  color: $black;
}

.grid__container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.25em;
  height: 60%;
}

.grid__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.875em;
  border: solid 0.125em $darkblue-primary;
  border-radius: 0.5em;
  cursor: pointer;
  text-align: center;
}

.grid__image{
  width: 70%;
  padding-bottom: 0.625em;
  transition: 300ms;
  aspect-ratio: 1/1;
}

.grid__item:hover .grid__image{
  transform: scale(130%, 130%);
}

.grid__title{
  font-size: 1em;
  color: $black;
  margin-bottom: 0;
}

/* --------------------------- who we are section --------------------------- */

.who-we-are{
  width: 100%;
  height: calc(100vh - 5.1688em);
  min-height: 35em;
}

.who-we-are__info-container{
  height: calc(100vh - 5.1688em);
  min-height: 35em;
  background-image: linear-gradient(to left, #09376B /*001022*/ 50%, #00000000), url('../images/workplace.webp');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0em 6.25em;
}
.who-we-are__info{
  width: 40%;
  color: $white;
  margin-bottom: 0.625em;
}

.who-we-are__title{
  font-size: 2em;
  margin-bottom: 0.625em;
  font-weight: bold;
}

.who-we-are__description{
  line-height: 1.5em;
  margin-bottom: 1.25em;
}

.who-we-are__presentation-grid{
  width: 40%;
  row-gap: 0.625em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.who-we-are__subtitle{
  margin-bottom: 0.625em;
  font-size: 1.25em;
}

/* --------------------------- Mission and vision --------------------------- */

.mission-vision{
  height: calc(100vh - 5.1688em);
  min-height: 32.5em;
  padding: 0em 6.25em;
  padding-top: 2.5em;
  position: relative;
  background: $primary-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mission-vision__container{
  display: flex;
  align-items: center;
}

.mission-vision__grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25em;
  text-align: center;
}

.mission-vision__info{
  display: flex;
  overflow: auto;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top, $lightblue-primary, $darkblue-primary);
  border: solid 0.125em $darkblue-primary;
  padding: 2.5em;
  border-radius: 0.5em;
}

.mission-vision__info-description{
  color: $white;
}

.mission-vision__info-image{
  width: 30%;
  margin-bottom: 1.25em;
  aspect-ratio: 1/1;
}

/* --------------------------------- Company -------------------------------- */

.company{
  width: 100%;
  height: calc(100vh - 5.1688em);
  min-height: 30.625em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $primary-light;
  position: relative;
}

.company__container{
  margin: 0em 6.25em;
  display: flex;
}

.company__info{
  width: 50%;
  margin-left: 2.5em;
}

.company__info h4{
  font-size: 1.5em;
  margin-bottom: 0.625em;
}

.company__info .card__title{
  font-size: 1.375em;
  font-weight: bold;
  margin-bottom: 0.625em;
}

.company__info .card__subtitle{
  font-size: 1.125em;
  font-weight: bold;
}

.company__info hr{
  margin: 0.625em 0em;
}

.company__title{
  background: linear-gradient(to right, $lightblue-primary, $darkblue-primary);
  padding: 0.625em 1.25em;
  text-align: center;
  border-radius: 0.5em;
  color: white;
  margin-bottom: 1.25em;
  font-size: 1.5em;
  font-weight: bold;
}

.company__description{
  margin-bottom: 1.25em;
}

.presentation-card{
  height: auto;
  background: $white;
  box-shadow: 0 0 0.3125em $gray;
  border-radius: 0.5em;
  padding: 1.25em;
}

.presentation-card h4{
  font-weight: bold;
  margin-top: 0;
}

.presentation-card h6{
  margin: 0;
  font-weight: bold;
}

.presentation-card p{
  margin: 0;
}

.company__map{
  width: 50%;
  border-radius: 0.5em;
  position: relative;
}

.company__map-googlemaps{
  position: absolute;
  z-index: 999;
  top: 0.9375em;
  right: 0.625em;
  background: $white;
  padding: 0.3125em 0.625em;
  color: $darkblue-primary;
  border: solid 1px $darkblue-primary;
  border-radius: 0.5em;
}

.leaflet-container{
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  border: solid 0.125em $darkblue-primary;
} 

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */


.footer__container{
  border-top: solid 0.0625em $gray;
}

.footer__content{
  display: flex;
  margin: 2.5em 6.25em;
}

.footer__identity,
.footer__menu,
.footer__contact-container{
  width: 33.3%;
}

.footer__motto{
  text-align: center;
  border: solid 0.125em $darkblue-primary;
  border-radius: 0.5em;
  padding: 0.625em;
  color: $darkblue-primary;
  margin: 0;
  margin-top: 0.625em;
}

.footer__image{
  width: 100%;
  aspect-ratio: 188/33;
}

.footer__menu{
  margin-right: 1.25em;
}

.footer__social-media{
  display: flex;
}

.footer__social{
  display: flex;
  width: 50%;
  padding: 1.25em;
  border: solid 0.125em $darkblue-primary;
  align-items: center;
  border-radius: 0.5em;
  color: $darkblue-primary;
  margin-bottom: 1.25em;
}

.footer__social .footer__social-media-text{
  margin: 0;
  margin-left: 0.3125em;
  font-weight: bold;
}

.facebook{
  margin-right: 0.3125em;
}

.instagram{
  margin-left: 0.3125em;
}

.footer__social h6{
  margin-left: 0.625em;
  font-size: 0.875em;
}

.footer__copyright{
  text-align: center;
  padding: 1.25em 0em;
  border-top: solid 0.0625em $gray;
  background-color: $primary-light;
}


/* -------------------------------------------------------------------------- */
/*                             Privacy policy page                            */
/* -------------------------------------------------------------------------- */

.privacy-policy{
  padding: 0em 6.25em;
  padding-top: 5.168em;
  background-color: $whiteui;
}

.privacy-policy__container{
  padding: 2.5em 0em;
}

.privacy-policy__title,
.privacy-policy__subtitle{
  color: $darkblue-primary;
}

.privacy-policy__title{
  text-align: center;
  margin-bottom: 1.25em;
}

.privacy-policy__subtitle{
  margin-bottom: 0.3125em;
}

.privacy-policy__info{
  color: $blackui;
  margin-bottom: 1.875em;
}

.privacy-policy__title,
.privacy-policy__subtitle,
.privacy-policy__info{
  line-height: 1.5em;
}

/* -------------------------------------------------------------------------- */
/*                                    PQRS                                    */
/* -------------------------------------------------------------------------- */

.pqrs{
  padding: 0em 6.25em;
  padding-top: 5.168em;
  background-color: $primary-light;
  display: flex;
  justify-content: center;
}

.form__container{
  max-width: 45em;
  margin: 2.5em 0em;
  padding: 2.5em;
  background-color: $white;
  border-radius: 0.5em;
  border: solid 0.125em $darkblue-primary;
}

.form-title{
  text-align: center;
  color: $darkblue-primary;
  margin-bottom: 0.625em;
}

.form-description{
  line-height: 1.25em;
  margin-bottom: 1.25em;
}

.form label{
  color: $darkblue-primary;
}

.form select{
  width: 100%;
}


.input{
  display: block;
  width: 96%;
  padding: 0.3125em 2%;
  font: 1em 'Gilroy', sans-serif;
  font-display: swap;
}

/* -------------------------------------------------------------------------- */
/*                                 Contact us                                 */
/* -------------------------------------------------------------------------- */

.contact-us{
  padding: 0em 6.25em;
  padding-top: 5.168em;
  background-color: $primary-light;
  display: flex;
  justify-content: center;
}

/* -------------------------------------------------------------------------- */
/*                                  Products                                  */
/* -------------------------------------------------------------------------- */

.products{
  padding: 0em 6.25em;
  padding-top: 5.168em;
  background-color: $primary-light;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products__container{
  height: calc(56vh - 5.1688em);
  min-height: 12.5em;
  display: flex;
  align-items: center;
}

.comming-soon{
  color: $darkblue-primary;
}

/* -------------------------------------------------------------------------- */
/*                                Modificators                                */
/* -------------------------------------------------------------------------- */

.absolute-item{
  position: absolute;
}

.relative-item{
  float: right;
  margin: 1.875em 0em;
}

.full-width{
  width: 100%;
}

.margin-right{
  margin-right: 6.25em;
}

.transparent-background{
  background: $white;
}

@media only screen and (max-width: 1820px){
  body{
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 1140px){
  body{
    font-size: 14px !important;
  }

  .menu-icon{
    visibility: visible;
  }
}

@media only screen and (max-width: 1080px){
  .footer__social-media{
    flex-direction: column;
  }

  .footer__social{
    width: auto;
    padding: 1.25em;
    margin-bottom: 0.625em;
  }

  .facebook{
    margin-right: 0em;
  }

  .instagram{
    margin-left: 0em;
  }
}

@media only screen and (max-width: 940px){
  
  .our-products{
    height: auto;
  }

  .our-products__info{
    height: 150px;
  }

  .grid__container{
    grid-template-columns: repeat(3, 1fr);
  }

  .nav__container{
    padding: 0.625em 2.5em;
  }

  .menu-icon{
    right: 2.5em;
  }

  .divider{
    right: 2.5em;
  }

  .info{
    top: 1.25em;
    padding: 0;
    margin-left: 2.5em;
    background: transparent;
    border: none;
    justify-content: space-between;
  }

  .our-products{
    padding: 0em 2.5em;
  }

  .who-we-are{
    height: auto;
  }

  .who-we-are__info-container{
    height: auto;
    padding: 2.5em;
  }

  .who-we-are__presentation-grid{
    padding: 0em 0em;
  }

  .who-we-are__info{
    padding: 0em;
  }

  .mission-vision{
    padding: 0em 2.5em;
    padding-top: 2.5em;
    height: auto;
  }

  .mission-vision__info{
    padding: 1em;
  }

  .company__container{
    margin: 0em 2.5em;
  }

  .footer__content{
    margin: 1.5em 2.5em;
  }

  .privacy-policy{
    padding: 0em 2.5em;
    padding-top: 5.168em;
  }

  .pqrs{
    padding: 0em 2.5em;
    padding-top: 5.168em;
  }

  .contact-us{
    padding: 0em 2.5em;
    padding-top: 5.168em;
  }
  
}

@media only screen and (max-width: 780px){
  .mission-vision__grid-container{
    grid-template-columns: repeat(1, 1fr);
  }

  .mission-vision__info{
    flex-direction: row;
    text-align: left;
  }

  .mission-vision__info-description{
    margin: 0px 10px;
  }

  .mission-vision__info-image{
    width: 20%;
    margin-bottom: 0em;
  }

  .who-we-are__presentation-grid{
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0.625em;
  }

  .company{
    height: auto;
  }

  .company__container{
    flex-direction: column-reverse;
  }

  .company__info{
    width: 100%;
    margin-left: 0em;
  }

  .company__map{
    width: 100%;
    height: 300px;
    margin-top: 1.25em;
  }
}

@media only screen and (max-height: 45em){
  .our-products{
    height: auto;
  }
}

@media only screen and (max-height: 37.5em){
  .mission-vision{
    height: auto;
  }
}

@media only screen and (max-width: 630px){

  .divider{
    display: none;
  }

  .carousel{
    height: calc(50vh - 5.1688em);
  }

  .featured-product__image{
    height: calc(50vh - 5.1688em);
  }

  .featured-product__info{
    height: calc(50vh - 5.1688em);
  }

  .our-products{
    height: auto;
  }

  .our-products__info{
    height: auto;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
  }

  .grid__container{
    margin-bottom: 1.875em;
  }

  .who-we-are__info-container{
    padding: 0em 2.5em;
  }

  .who-we-are__info{
    width: 60%;
  }

  .who-we-are__presentation-grid{
    width: 60%;
    padding: 0em 0em;
  }

  .action-call{
    margin: 0em 2.5em;
  }

  .mission-vision{
    padding: 2.5em 2.5em;
  }

  .company{
    padding-bottom: 2.5em;
  }
}

@media only screen and (max-width: 520px){
  .logo{
    width: 12.5em;
    margin-top: 0em;
  }

  .title-gradient-background{
    padding: 0.625em 1.875em;
    height: auto;
  }

  .mission-vision__info{
    flex-direction: column;
    text-align: center;
  }

  .grid__container{
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__content{
    flex-direction: column;
  }

  .footer__identity,
  .footer__menu,
  .footer__contact-container{
    width: auto;
    margin-bottom: 1.25em;
  }

  .footer__menu{
    margin-right: 0em;
  }

  .menu{
    border:solid 0.125em $darkblue-primary;
    padding-top: 0.625rem;
    border-radius: 0.5em;
  }

  .featured-product__controls{
    display: none;
  }

  .featured-product__info{
    text-align: center;
  }

  .info{
    margin-left: 2.5em;
    margin-right: 2.5em;
  }

  .who-we-are__info-container{
    background-image: linear-gradient(to left, #09376b9c /*001022*/ 50%, #09376b9c), url('../images/workplace.webp');
    justify-content: center;
  }

  .who-we-are__info{
    width: auto;
  }

  .who-we-are__presentation-grid{
    width: 100%;
  }

  .form__container{
    padding: 1.25em;
  }
}

@media only screen and (max-width: 360px){
  .grid__container{
    grid-template-columns: repeat(1, 1fr);
  }

  .logo{
    width: 150px;
    margin-top: 0.625em;
  }

  .menu-icon{
    width: 2em;
    height: 2em;
  }

  .top{
    margin-bottom: 0.3125em;
  }

  .bottom{
    margin-top: 0.3125em;
  }
}
