/* -------------------------------------------------------------------------- */
/*                                  variables                                 */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                              General settings                              */
/* -------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font: 24px 'Gilroy', sans-serif;
  background-color: #F6F7FB;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/*                                   Buttons                                  */
/* -------------------------------------------------------------------------- */
.outline-button {
  padding: 0.625em 1.25em;
  border: solid 0.125em #FFFFFF;
  border-radius: 0.5em;
  color: #FFFFFF;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.outline-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.main-button {
  padding: 0.625em 1.25em;
  border-radius: 0.5em;
  color: #FFFFFF;
  -webkit-transition: 300ms;
  transition: 300ms;
  background-color: #2A2E92;
  border: none;
  font-size: 1em;
  font: 1em 'Gilroy', sans-serif;
}

.main-button__link {
  color: #FFFFFF;
  font: 1em 'Gilroy', sans-serif;
  margin-right: 0.625em;
}

.white-button {
  height: 3.125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0em 1.875em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1f1f1;
  border-radius: 0.5em;
  border: none;
  font: 1em 'Gilroy', sans-serif;
  color: #2A2E92;
  font-weight: bold;
}

.white-button__link {
  display: inline;
  color: #2A2E92;
  margin-right: 0.625em;
}

/* -------------------------------------------------------------------------- */
/*                          Social media floating bar                         */
/* -------------------------------------------------------------------------- */
.social-media {
  width: 2.5em;
  padding: 0.125em 0em;
  position: fixed;
  -webkit-transform: translateY(50vh);
          transform: translateY(50vh);
  left: 0;
  background: #fff;
  z-index: 9999;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 0 0.9375em #808080;
          box-shadow: 0 0 0.9375em #808080;
}

.social-media__container {
  width: 100%;
  color: #2A2E92;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media__icon {
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  margin: 0.125em;
}

.social-media__icon:hover {
  -webkit-transform: scale(140%, 140%);
          transform: scale(140%, 140%);
  cursor: pointer;
}

.social-media__link {
  text-decoration: none;
  color: #2A2E92;
}

/* -------------------------------------------------------------------------- */
/*                                   Nav Bar                                  */
/* -------------------------------------------------------------------------- */
.nav {
  width: 100%;
  height: 5.1688em;
  position: fixed;
  -webkit-box-shadow: 0 0 0.0625em #808080;
          box-shadow: 0 0 0.0625em #808080;
  z-index: 9999;
  background-color: #F6F7FB;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.625em 6.25em;
  position: relative;
}

.logo {
  width: 18.75em;
  border-radius: 0.5em;
  padding: 0.3125em 0.625em;
}

#menu {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.menu-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-vertical {
  margin-bottom: 0.625em;
}

.menu__item {
  list-style-type: none;
  margin-left: 1.875em;
  border-radius: 0.5em;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu__link {
  color: #2A2E92;
  font-weight: bold;
}

.menu-icon {
  visibility: hidden;
  position: absolute;
  width: 2em;
  height: 2em;
  right: 6.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-icon:hover {
  cursor: pointer;
}

.menu-icon__bar {
  width: 100%;
  border: solid 0.1875em #2A2E92;
  border-radius: 0.5em;
  background: #2A2E92;
}

.top,
.middle,
.bottom {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.top {
  margin-bottom: 0.3125em;
}

.bottom {
  margin-top: 0.3125em;
}

.disappear {
  -webkit-transform: translateX(-3.125em);
          transform: translateX(-3.125em);
  border: solid 0.1875em transparent;
  background: transparent;
}

.rotate-right {
  -webkit-transform: rotate(45deg) translate(0.375em, 0.625em);
          transform: rotate(45deg) translate(0.375em, 0.625em);
}

.rotate-left {
  -webkit-transform: rotate(-45deg) translate(0.375em, -0.625em);
          transform: rotate(-45deg) translate(0.375em, -0.625em);
}

/* -------------------------------------------------------------------------- */
/*                                   Divider                                  */
/* -------------------------------------------------------------------------- */
.divider {
  height: 3.125em;
  bottom: 2.5em;
  right: 6.25em;
}

.divider:hover {
  cursor: pointer;
}

.divider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.divider__title {
  margin-top: 0.3125em;
  margin-right: 0.625em;
}

.divider__icon {
  -webkit-transition: 300ms;
  transition: 300ms;
}

.divider:hover .divider__icon {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/* -------------------------------------------------------------------------- */
/*                                  Homepage                                  */
/* -------------------------------------------------------------------------- */
/* ------------------------------ Main section ------------------------------ */
.featured-product {
  width: 100%;
}

.featured-product__container {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured-product__image {
  width: 100%;
  margin-top: 5.1688em;
  height: calc(70vh - 5.1688em);
  min-height: 19.875em;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

.featured-product__info {
  height: calc(70vh - 5.1688em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin-top: 5.1688em;
  min-height: 19.875em;
  position: absolute;
  top: 0;
  left: 0;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.4);
}

.info {
  width: 18.75em;
  margin-left: 6.25em;
  margin-bottom: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid 0.0625em #FFFFFF;
  padding: 1.25em;
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0.1);
}

.info-category {
  color: #2A2E92;
  background-color: #FFFFFF;
  padding: 0.3125em 1.25em;
  margin-bottom: 0.625em;
  border-radius: 0.5em;
  font-size: 1.375em;
}

.info-description {
  margin-bottom: 0.625em;
}

.featured-product__controls {
  padding: 0em 0.625em;
}

.featured-product__next,
.featured-product__prev {
  position: absolute;
  color: rgba(255, 255, 255, 0.1);
  bottom: 3.5em;
  padding: 0em 0.625em;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.featured-product__next {
  right: 0;
}

.featured-product__prev {
  left: 0;
}

.featured-product__next:hover,
.featured-product__prev:hover {
  cursor: pointer;
  color: white;
}

/* -------------------------- Our products section -------------------------- */
.our-products {
  padding: 0em 6.25em;
  background-color: #F6F7FB;
  height: calc(100vh - 5.1688em);
  min-height: 30.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.title-gradient-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5em;
  background: -webkit-gradient(linear, left top, right top, from(#0A85BF), to(#2A2E92));
  background: linear-gradient(to right, #0A85BF, #2A2E92);
  border-radius: 0.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0em 1.875em;
}

.our-products__info {
  height: 30vh;
  min-height: 8.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-gradient__title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #FFFFFF;
  border-radius: 0.5em;
}

.our-products__description {
  text-align: center;
  padding-top: 0.625em;
  color: #2A2E92;
  color: #000000;
}

.grid__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 1.25em;
  height: 60%;
}

.grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.875em;
  border: solid 0.125em #2A2E92;
  border-radius: 0.5em;
  cursor: pointer;
  text-align: center;
}

.grid__image {
  width: 70%;
  padding-bottom: 0.625em;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.grid__item:hover .grid__image {
  -webkit-transform: scale(130%, 130%);
          transform: scale(130%, 130%);
}

.grid__title {
  font-size: 1em;
}

/* --------------------------- who we are section --------------------------- */
.who-we-are {
  width: 100%;
  height: calc(100vh - 5.1688em);
  min-height: 35em;
  position: relative;
}

.who-we-are__info-container {
  height: calc(100vh - 5.1688em);
  min-height: 35em;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, #09376B), to(#00000000)), url("../images/workplace.png");
  background-image: linear-gradient(to left, #09376B 50%, #00000000), url("../images/workplace.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0em 6.25em;
}

.who-we-are__info {
  width: 40%;
  color: #FFFFFF;
  margin-bottom: 0.625em;
}

.who-we-are__title {
  font-size: 2em;
  margin-bottom: 0.625em;
}

.who-we-are__description {
  line-height: 1.5em;
  margin-bottom: 1.25em;
}

.who-we-are__presentation-grid {
  width: 40%;
  row-gap: 0.625em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.who-we-are__subtitle {
  margin-bottom: 0.625em;
  font-size: 1.25em;
}

/* --------------------------- Mission and vision --------------------------- */
.mission-vision {
  height: calc(100vh - 5.1688em);
  min-height: 32.5em;
  padding: 0em 6.25em;
  padding-top: 2.5em;
  position: relative;
  background: #F6F7FB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mission-vision__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mission-vision__grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1.25em;
  text-align: center;
}

.mission-vision__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#0A85BF), to(#2A2E92));
  background: linear-gradient(to top, #0A85BF, #2A2E92);
  border: solid 0.125em #2A2E92;
  padding: 2.5em;
  border-radius: 0.5em;
}

.mission-vision__info-description {
  color: #FFFFFF;
}

.mission-vision__info-image {
  width: 30%;
  margin-bottom: 1.25em;
}

/* --------------------------------- Company -------------------------------- */
.company {
  width: 100%;
  height: calc(100vh - 5.1688em);
  min-height: 30.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F6F7FB;
  position: relative;
}

.company__container {
  margin: 0em 6.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.company__info {
  margin-left: 2.5em;
}

.company__info h4 {
  font-size: 1.5em;
  margin-bottom: 0.625em;
}

.company__info h6 {
  font-size: 1.125em;
}

.company__info hr {
  margin: 0.625em 0em;
}

.company__title {
  background: -webkit-gradient(linear, left top, right top, from(#0A85BF), to(#2A2E92));
  background: linear-gradient(to right, #0A85BF, #2A2E92);
  padding: 0.625em 1.25em;
  text-align: center;
  border-radius: 0.5em;
  color: white;
  margin-bottom: 1.25em;
}

.company__description {
  margin-bottom: 1.25em;
}

.presentation-card {
  height: 14.6875em;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 0.3125em #808080;
          box-shadow: 0 0 0.3125em #808080;
  border-radius: 0.5em;
  padding: 1.25em;
}

.company__map {
  width: 50%;
  border-radius: 0.5em;
  position: relative;
}

.company__map-googlemaps {
  position: absolute;
  z-index: 999;
  top: 0.9375em;
  right: 0.625em;
  background: #FFFFFF;
  padding: 0.3125em 0.625em;
  color: #2A2E92;
  border: solid 1px #2A2E92;
  border-radius: 0.5em;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  border: solid 0.125em #2A2E92;
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */
.footer__container {
  border-top: solid 0.0625em #808080;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2.5em 6.25em;
}

.footer__identity,
.footer__menu,
.footer__contact-container {
  width: 33.3%;
}

.footer__motto {
  text-align: center;
  border: solid 0.125em #2A2E92;
  border-radius: 0.5em;
  padding: 0.625em;
  color: #2A2E92;
  margin-top: 0.625em;
}

.footer__image {
  width: 100%;
}

.footer__menu {
  margin-right: 1.25em;
}

.footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 1.25em;
  border: solid 0.125em #2A2E92;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5em;
  color: #2A2E92;
  margin-bottom: 1.25em;
}

.facebook {
  margin-right: 0.3125em;
}

.instagram {
  margin-left: 0.3125em;
}

.footer__social h6 {
  margin-left: 0.625em;
  font-size: 0.875em;
}

.footer__copyright {
  text-align: center;
  padding: 1.25em 0em;
  border-top: solid 0.0625em #808080;
  background-color: #F6F7FB;
}

/* -------------------------------------------------------------------------- */
/*                             Privacy policy page                            */
/* -------------------------------------------------------------------------- */
.privacy-policy {
  padding: 0em 6.25em;
  padding-top: 5.168em;
  background-color: #f1f1f1;
}

.privacy-policy__container {
  padding: 2.5em 0em;
}

.privacy-policy__title,
.privacy-policy__subtitle {
  color: #2A2E92;
}

.privacy-policy__title {
  text-align: center;
  margin-bottom: 1.25em;
}

.privacy-policy__subtitle {
  margin-bottom: 0.3125em;
}

.privacy-policy__info {
  color: #010101;
  margin-bottom: 1.875em;
}

.privacy-policy__title,
.privacy-policy__subtitle,
.privacy-policy__info {
  line-height: 1.5em;
}

/* -------------------------------------------------------------------------- */
/*                                    PQRS                                    */
/* -------------------------------------------------------------------------- */
.pqrs {
  padding: 0em 6.25em;
  padding-top: 5.168em;
  background-color: #F6F7FB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__container {
  max-width: 45em;
  margin: 2.5em 0em;
  padding: 2.5em;
  background-color: #FFFFFF;
  border-radius: 0.5em;
  border: solid 0.125em #2A2E92;
}

.form-title {
  text-align: center;
  color: #2A2E92;
  margin-bottom: 0.625em;
}

.form-description {
  line-height: 1.25em;
  margin-bottom: 1.25em;
}

.form label {
  color: #2A2E92;
}

.form select {
  width: 100%;
}

.input {
  display: block;
  width: 96%;
  padding: 0.3125em 2%;
  font: 1em 'Gilroy', sans-serif;
}

/* -------------------------------------------------------------------------- */
/*                                 Contact us                                 */
/* -------------------------------------------------------------------------- */
.contact-us {
  padding: 0em 6.25em;
  padding-top: 5.168em;
  background-color: #F6F7FB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* -------------------------------------------------------------------------- */
/*                                  Products                                  */
/* -------------------------------------------------------------------------- */
.products {
  padding: 0em 6.25em;
  padding-top: 5.168em;
  background-color: #F6F7FB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__container {
  height: calc(56vh - 5.1688em);
  min-height: 12.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comming-soon {
  color: #2A2E92;
}

/* -------------------------------------------------------------------------- */
/*                                Modificators                                */
/* -------------------------------------------------------------------------- */
.absolute-item {
  position: absolute;
}

.relative-item {
  float: right;
  margin: 1.875em 0em;
}

.full-width {
  width: 100%;
}

.margin-right {
  margin-right: 6.25em;
}

@media only screen and (max-width: 1820px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1140px) {
  body {
    font-size: 14px;
  }
  .menu-icon {
    visibility: visible;
  }
}

@media only screen and (max-width: 1080px) {
  .footer__social-media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__social {
    width: auto;
    padding: 1.25em;
    margin-bottom: 0.625em;
  }
  .facebook {
    margin-right: 0em;
  }
  .instagram {
    margin-left: 0em;
  }
}

@media only screen and (max-width: 940px) {
  .our-products {
    height: auto;
  }
  .our-products__info {
    height: 150px;
  }
  .grid__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .nav__container {
    padding: 0.625em 2.5em;
  }
  .menu-icon {
    right: 2.5em;
  }
  .divider {
    right: 2.5em;
  }
  .info {
    margin-left: 2.5em;
  }
  .our-products {
    padding: 0em 2.5em;
  }
  .who-we-are {
    height: auto;
  }
  .who-we-are__info-container {
    height: auto;
    padding: 2.5em;
  }
  .who-we-are__presentation-grid {
    padding: 0em 0em;
  }
  .who-we-are__info {
    padding: 0em;
  }
  .mission-vision {
    padding: 0em 2.5em;
    padding-top: 2.5em;
    height: auto;
  }
  .mission-vision__info {
    padding: 1em;
  }
  .company__container {
    margin: 0em 2.5em;
  }
  .footer__content {
    margin: 1.5em 2.5em;
  }
  .privacy-policy {
    padding: 0em 2.5em;
    padding-top: 5.168em;
  }
  .pqrs {
    padding: 0em 2.5em;
    padding-top: 5.168em;
  }
  .contact-us {
    padding: 0em 2.5em;
    padding-top: 5.168em;
  }
}

@media only screen and (max-width: 780px) {
  .mission-vision__grid-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .mission-vision__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
  .mission-vision__info-description {
    margin: 0px 10px;
  }
  .mission-vision__info-image {
    width: 20%;
    margin-bottom: 0em;
  }
  .who-we-are__presentation-grid {
    height: auto;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    row-gap: 0.625em;
  }
  .company {
    height: auto;
  }
  .company__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .company__info {
    margin-left: 0em;
  }
  .company__map {
    width: 100%;
    height: 300px;
    margin-top: 1.25em;
  }
}

@media only screen and (max-height: 37.5em) {
  .mission-vision {
    height: auto;
  }
}

@media only screen and (max-width: 630px) {
  .divider {
    display: none;
  }
  .featured-product__image {
    height: calc(50vh - 5.1688em);
  }
  .featured-product__info {
    height: calc(50vh - 5.1688em);
  }
  .our-products {
    height: auto;
  }
  .our-products__info {
    height: auto;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
  }
  .grid__container {
    margin-bottom: 1.875em;
  }
  .who-we-are__info-container {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(70%, #09376B), to(#0809376B)), url("../images/workplace.png");
    background-image: linear-gradient(to left, #09376B 70%, #0809376B), url("../images/workplace.png");
    padding: 0em 2.5em;
  }
  .who-we-are__info {
    width: 60%;
  }
  .who-we-are__presentation-grid {
    width: 60%;
    padding: 0em 0em;
  }
  .action-call {
    margin: 0em 2.5em;
  }
  .mission-vision {
    padding: 2.5em 2.5em;
  }
  .company {
    padding-bottom: 2.5em;
  }
}

@media only screen and (max-width: 520px) {
  .logo {
    width: 12.5em;
    margin-top: 0.625em;
  }
  .title-gradient-background {
    padding: 0.625em 1.875em;
    height: auto;
  }
  .mission-vision__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .grid__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__identity,
  .footer__menu,
  .footer__contact-container {
    width: auto;
    margin-bottom: 1.25em;
  }
  .footer__menu {
    margin-right: 0em;
  }
  .menu {
    border: solid 0.125em #2A2E92;
    padding-top: 0.625rem;
    border-radius: 0.5em;
  }
  .featured-product__controls {
    display: none;
  }
  .featured-product__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info {
    margin-left: 0em;
    margin-bottom: 2.5em;
  }
  .who-we-are__info-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(70%, #09376bbd), to(#09376bbd)), url("../images/workplace.png");
    background-image: linear-gradient(to left, #09376bbd 70%, #09376bbd), url("../images/workplace.png");
  }
  .who-we-are__info {
    width: auto;
  }
  .who-we-are__presentation-grid {
    width: 100%;
  }
  .form__container {
    padding: 1.25em;
  }
}

@media only screen and (max-width: 360px) {
  .grid__container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .logo {
    width: 150px;
    margin-top: 0.625em;
  }
  .menu-icon {
    width: 32px;
    height: 24px;
  }
  .top {
    margin-bottom: 2px;
  }
  .bottom {
    margin-top: 2px;
  }
}
/*# sourceMappingURL=styles.css.map */