$black: #000000;
$blackui: #010101;
$dark-hover: rgba(0, 0, 0, 0.2);
$darkblue-primary: #2A2E92;
$gray: #808080;
$light-hover: rgba(255, 255, 255, 0.1);
$lightblue-primary: #0A85BF;
$primary-light: #F6F7FB;
$white: #FFFFFF;
$whiteui: #f1f1f1;
$yellow-primary: #FFF100;

.company__container{
  margin: 0em 6.25em;
  display: flex;
}

.company__info_h4 {
  font-size: 1.5em;
  margin-bottom: 0.625em;
}

.company__map{
  width: 50%;
  border-radius: 0.5em;
  position: relative;
}

.company__map_googlemaps{
  position: absolute;
  z-index: 999;
  top: 0.9375em;
  right: 0.625em;
  background: $white;
  padding: 0.3125em 0.625em;
  color: $darkblue-primary;
  border: solid 1px $darkblue-primary;
  border-radius: 0.5em;
}

.company__info{
  width: 50%;
  margin-left: 2.5em;
  height: 70vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../../assets/images/waves.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.company__title{
  background: linear-gradient(to right, $lightblue-primary, $darkblue-primary);
  padding: 0.625em 1.25em;
  text-align: center;
  border-radius: 0.5em;
  color: white;
  margin-bottom: 1.25em;
  font-size: 1.5em;
  font-weight: bold;
}

.company__description{
  margin-bottom: 1.25em;
}

.company__info_hr {
  margin: 0.625em 0em;
}

.presentation_card{
  height: auto;
  background: $white;
  box-shadow: 0 0 0.3125em $gray;
  border-radius: 0.5em;
  padding: 1.25em;
}

.card__title{
  font-size: 1.375em;
  font-weight: bold;
  margin-bottom: 0.625em;
}

.card__subtitle{
  font-size: 1.125em;
  font-weight: bold;
}

@media only screen and (max-width: 940px){
  .company__container {
    margin: 0em 2.5em;
  }
}

@media only screen and (max-width: 780px) {
  .company__container {
    flex-direction: column-reverse;
  }

  .company__info {
    width: 100%;
    margin-left: 0em;
    height: auto;
    background-image: none;
  }

  .company__map {
    width: 100%;
    height: 300px;
    margin-top: 1.25em;
  }
}