:root{
  --lightblue-primary: #0A85BF;
  --darkblue-primary: #2A2E92;
  --yellow-primary: #FFF100;
  --whiteui: #f1f1f1;
  --blackui: #010101;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font: 18px 'Gilroy', sans-serif;
}

